
<mat-card *ngIf="workDetails" class="work-details-card">
    <mat-card-title>Work Details</mat-card-title>
    <div style="display: flex;" (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon><span>Go Back</span>
    </div>

    <mat-card-content>
      <p>{{workDetails.description}}</p>
      <p>{{workDetails.publisher}}</p>
      <p>{{workDetails.source}}</p>
      <p>{{workDetails.DOI}}</p>
    </mat-card-content>
  </mat-card>
  <div *ngIf="!workDetails" class="work-details-card">
    Loading for the Details page......
  </div>

