/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dashboard-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .dashboard-container{
        max-width: 50%;
        margin: auto;
    }
  }
